node_modules
dist
dist-ssr
*.local
.DS_Store
node_modules/.tmp
.vite

# Editor
.claude
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
.env
